/* Gamification Styles */

/* Mobile */
@media screen and (max-width: 768px) { 
  /* =============================================
     Personalized Gamification
     ============================================= */
     .personalized-result { transform: translateY(calc(-1 * var(--offset-px))); background-color: #f4fdfcc6; padding: 12px; border-radius: 24px; height: 235px; max-height: 245px; min-height: 210px; color: rgb(51, 51, 51); text-align: center; backdrop-filter: blur(6px); -webkit-backdrop-filter: blur(6px); display: flex; flex-direction: row; flex-wrap: nowrap; position: relative; width: 70vw; max-width: 70vw; min-width: 70vw; bottom: 16px; pointer-events: all; z-index: 10; box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px 1px rgba(255, 255, 255, 0.6); }
     .personalized-result::after { content: ''; position: absolute; transform: rotate(180deg) !important; border-width: 14px; left: calc(50% - 13px) !important; top: 100% !important; border-style: solid; border-color: transparent transparent #f7ffffd6 transparent;  }
     .personalized-result p {padding-bottom: 0.4em;}
     
     .gamification-text { pointer-events: none; width: 75%; max-width: 75%; min-width: 75%; text-align: left; padding: 9px 0 0.4em 9px; display: flex; flex-direction: column; justify-content: space-between; }
     .gam-title { padding-bottom: 0.3em; color: rgba(24, 24, 24, 0.874); } .personal-title { padding: 0.1em 0 0.3em 0.02em; }
     
     .gamification-knob { position: relative; width: 10%; display: flex; align-items: flex-end; justify-content: flex-end; }
     .percentage-knob { height: 94%; position: relative; background: none; }
     .knob-arrow { position: absolute; bottom: 0; left: -50%; transform: translateX(-78%) rotate(90deg); width: 0; height: 0; border-left: 12px solid transparent; border-right: 12px solid transparent; border-radius: 2px; transition: bottom 0.3s ease; }
     .gamification-bar { width: 15%; }
     .percentage-bar { width: 75%; height: 100%; background: linear-gradient(to bottom, rgba(0, 255, 0, 0.9), #e9e103e6, rgba(255, 0, 0, 0.9)); border-radius: 3px; }
     
  /* =============================================
    Generalized Gamification
    ============================================= */
     .gam-general { display: flex; flex-wrap: nowrap; width: 100%; }
     .gam-general-title { padding-left: 0.4em; padding-top: 0.2em; }
     .gam-general-description { min-height: fit-content; text-align: left; width: 70%; padding-left: 0.4em; }
     .gam-description-title { padding: 0.6em 0 0.4em 0.1em; }
     .gam-description-text { padding: 0.3em 0 0.4em; }
     
     .gam-visualization { width: 30%; display: flex; position: relative; right: 0.4em; flex-wrap: nowrap; justify-content: flex-end; }
     .gam-percentage-knob { position: relative; width: 10px; height: 100%; }
     .gam-percentage-bar { width: 30%; height: 106%; margin-top: -15%; background: linear-gradient(to bottom, rgba(0, 255, 0, 0.9) 0%, #baf104 25%, #f1e904 50%, #f18e04 75%, rgba(255, 0, 0, 0.9) 100%); border-radius: 3px; }
     .gam-knob-arrow { position: absolute; bottom: 0; left: -74%; transform: translateX(-50%) rotate(90deg); width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-radius: 2px; transition: bottom 0.3s ease; }
  
  /* =============================================
    Generalized Gamification Edge Cases
    ============================================= */
    .generalized-result { transform: translateX(var(--offset-px)); background-color: #f4fafdee; padding: 12px; border-radius: 18px; color: rgb(51, 51, 51); text-align: center; backdrop-filter: blur(6px); -webkit-backdrop-filter: blur(6px); display: flex; flex-direction: row; flex-wrap: wrap; position: relative; width: 220px; max-width: 220px; min-width: 220px; left: 50px; pointer-events: none; z-index: 10; box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.055), inset -1px -1px 1px rgba(255, 255, 255, 0.9); }
    .generalized-result::after { content: ''; position: absolute; top: 50%; left: -20px; transform: translateY(-50%) rotate(90deg); border-width: 11px; border-style: solid; border-color: #f3ffffe0 transparent transparent transparent; }
    
    .is-top .generalized-result { height: 200px !important; transform: translateY(var(--offset-px)) !important; left: 0px !important; top: 35px !important; }
    .is-top .generalized-result::after { transform: translateY(-50%) rotate(360deg) !important; left: 46% !important; top: -4% !important; border-color: transparent transparent #f7ffffe7 transparent; }
    
    .is-right .generalized-result, .is-mid .generalized-result { transform: translateX(calc(1 - var(--offset-px))); left: -140px; top: 0px; }
    .is-right .generalized-result::after, .is-mid .generalized-result::after { transform: translateY(-50%) rotate(-90deg); left: 100%; top: 50%; border-color: transparent transparent #f7ffffe7 transparent; }
    
    .is-bottom .generalized-result, .is-left.is-bottom .generalized-result { transform: translateY(calc(-1 * var(--offset-px))); left: 0; top: -40px; height: 200px !important; }
    .is-bottom .generalized-result::after, .is-left.is-bottom .generalized-result::after { transform: translateY(-50%) rotate(0deg) !important; left: 46% !important; top: 104% !important; border-color: transparent transparent #f7ffffe7 transparent; }
    
    .is-left .generalized-result { top: 0px; }
    .is-left .generalized-result::after { transform: translateY(-50%) rotate(90deg); }
    
    .is-left.is-top .generalized-result::after { transform: translateY(-50%) rotate(180deg) !important; }
}     

/* Desktop */
@media screen and (min-width: 1024px) { 
/* =============================================
   Personalized Gamification
   ============================================= */
   .personalized-result { background-color: #f4fdfcc6; padding: 12px; border-radius: 24px; color: rgb(51, 51, 51); text-align: center; backdrop-filter: blur(6px); -webkit-backdrop-filter: blur(6px); display: flex; flex-direction: row; flex-wrap: nowrap; position: relative; width: 280px; max-width: 280px; min-width: 280px; left: 165px; pointer-events: all; z-index: 10; box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px 1px rgba(255, 255, 255, 0.6); }

   .personalized-result::after { content: ''; position: absolute; top: 50%; left: -20px; transform: translateY(-50%) rotate(90deg); border-width: 11px; border-style: solid; border-color: #f3ffffe0 transparent transparent transparent; }
   
   .gamification-text { pointer-events: none; width: 75%; max-width: 75%; min-width: 75%; text-align: left; padding: 9px 0 0.4em 9px; }
   .gam-title { padding-bottom: 0.3em; color: rgba(24, 24, 24, 0.874); } .personal-title { padding: 0.5em 0 0.4em 0.03em; }
   
   .gamification-knob { position: relative; width: 10%; display: flex; justify-content: center; align-items: flex-end; }
   .percentage-knob { height: 94%; width: 10px; position: relative; background: none; }
   .knob-arrow { position: absolute; bottom: 0; left: 9px; transform: translateX(-50%) rotate(90deg); width: 0; height: 0; border-left: 12px solid transparent; border-right: 12px solid transparent; border-bottom: 18px solid rgb(73, 140, 143); border-radius: 2px; transition: bottom 0.3s ease; }
   .gamification-bar { width: 15%; }
   .percentage-bar { width: 75%; height: 100%; background: linear-gradient(to bottom, rgba(0, 255, 0, 0.9), #e9e103e6, rgba(255, 0, 0, 0.9)); border-radius: 3px; }
   
/* =============================================
  Generalized Gamification
  ============================================= */
   .gam-general { display: flex; flex-wrap: nowrap; width: 100%; }
   .gam-general-title { padding-left: 0.4em; padding-top: 0.2em; }
   .gam-general-description { min-height: fit-content; text-align: left; width: 70%; padding-left: 0.4em; }
   .gam-description-title { padding: 0.8em 0 0.2em 0em; }
   .gam-description-text { padding: 0.3em 0 0.4em; }
   
   .gam-visualization { width: 30%; display: flex; position: relative; right: 0.4em; flex-wrap: nowrap; justify-content: flex-end; }
   .gam-percentage-knob { position: relative; left: -8px; height: 100%; }
   .gam-percentage-bar { width: 30%; height: 106%; margin-top: -15%; background: linear-gradient(to bottom, rgba(0, 255, 0, 0.9) 0%, #baf104 25%, #f1e904 50%, #f18e04 75%, rgba(255, 0, 0, 0.9) 100%); border-radius: 3px; }
   .gam-knob-arrow { position: absolute; bottom: 0; left: -74%; transform: translateX(-50%) rotate(90deg); width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-radius: 2px; transition: bottom 0.3s ease; }

/* =============================================
  Generalized Gamification Edge Cases
  ============================================= */
  .generalized-result { transform: translateX(var(--offset-px)); background-color: #f4fdfcc6;; padding: 12px; border-radius: 18px; color: rgb(51, 51, 51); text-align: center; backdrop-filter: blur(6px); -webkit-backdrop-filter: blur(6px); display: flex; flex-direction: row; flex-wrap: wrap; position: relative; width: 220px; max-width: 220px; min-width: 220px; left: 50px; pointer-events: none; z-index: 10; box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.055), inset -1px -1px 1px rgba(255, 255, 255, 0.9); }
  .generalized-result::after { content: ''; position: absolute; top: 50%; left: -20px; transform: translateY(-50%) rotate(90deg); border-width: 11px; border-style: solid; border-color: #f3ffffdc transparent transparent transparent; }

  .is-top .generalized-result { height: 230px !important; min-height: 230px !important; max-height: 230px !important; transform: translateY(var(--offset-px)) !important; left: 0px !important; top: 50px !important; }
  .is-top .generalized-result::after { transform: translateY(-50%) rotate(180deg) !important; left: 46% !important; top: -4% !important;}

  .is-right .generalized-result, .is-mid .generalized-result { transform: translateX(calc(1 - var(--offset-px))); left: -140px; top: 0px; }
  .is-right .generalized-result::after, .is-mid .generalized-result::after {transform: translateY(-50%) rotate(-90deg); left: 100%; top: 50%; }

  .is-bottom .generalized-result, .is-left.is-bottom .generalized-result { transform: translateY(calc(-1 * var(--offset-px))); left: 0; top: -40px; height: 200px !important; }
  .is-bottom .generalized-result::after, .is-left.is-bottom .generalized-result::after {transform: translateY(-50%) rotate(0deg) !important; left: 46% !important; top: 104% !important; }

  .is-left .generalized-result { top: 0px; }
  .is-left .generalized-result::after { transform: translateY(-50%) rotate(90deg); }

  .is-left.is-top .generalized-result::after { transform: translateY(-50%) rotate(180deg) !important; }
}

