/* Gamification Styles */

/* Personalized Gamification */
.personalized-result {
    background-color: #f4fdfcc6; padding: 12px; border-radius: 24px; 
    color: rgb(51, 51, 51); text-align: center;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    width: 280px;
    max-width: 280px;
    min-width: 280px;
    left: 79px;
    pointer-events: all;
    z-index: 10;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px 1px rgba(255, 255, 255, 0.6);
}

.personalized-result::after {
    content: '';
    position: absolute;
    top: 50%; /* Center the arrow vertically */
    left: -20px; /* Position the arrow outside the box */
    transform: translateY(-50%) rotate(90deg); /* Adjust for centering */
    border-width: 11px; /* Arrow size */
    border-style: solid;
    border-color: #f3ffffe0 transparent transparent transparent; /* Arrow color */
  }

.gamification-text {width: 75%; max-width: 75%; padding-bottom: 0.4em; padding-top: 0.1em; min-width: 75%; text-align: left; padding-left: 9px; padding-top: 9px;}
.gam-title {padding-bottom: 0.3em; color: rgba(24, 24, 24, 0.874);} .personal-title {padding-bottom: 0.5em; padding-left: 0.1em; padding-top: 0.2em;}
.gamification-knob {
    position: relative;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
.percentage-knob {height: 94%; width: 10px; position: relative; background: none;}
.knob-arrow {
    position: absolute;
    bottom: 0; /* Start at the bottom */
    left: -70%; /* Center the arrow horizontally */
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 18px solid rgb(131, 225, 216); /* Color of the arrow */
    border-radius: 2px;
    transition: bottom 0.3s ease; /* Smooth transition if percentage changes for any reason */
    transform: rotate(90deg);
  }
.gamification-bar {width: 15%}
.percentage-bar {width: 75%; height: 100%; background: linear-gradient(to bottom, rgba(0, 255, 0, 0.9), rgba(175, 200, 0, 0.9), rgba(255, 0, 0, 0.9)); border-radius: 3px;}

/*  Generalized Gamification */
.gam-general-title {padding-left: 0.8em; padding-top: 0.2em; border-bottom: 1px solid rgba(128, 128, 128, 0.281);}
.gam-general {display: flex; flex-wrap: nowrap; width: 100%;}
.gam-general-description {min-height: fit-content; text-align: left; width: 70%; padding-left: 0.4em;}
.gam-description-title {padding: 0.6em 0 0.4em 0.1em;}
.gam-description-text {padding-top: 0.3em; padding-bottom: 0.4em;}
.gam-visualization {width: 40%; display: flex; flex-wrap: nowrap; justify-content: flex-end;}
.gam-percentage-knob {position: relative; width: 10px; height: 100%;}
.gam-percentage-bar {width: 20%; height: 106%; margin-top: -15%; background: linear-gradient(to bottom, rgba(0, 255, 0, 0.9), rgba(175, 200, 0, 0.9), rgba(255, 0, 0, 0.9)); border-radius: 3px;}
.gam-knob-arrow {
  position: absolute;
  bottom: 0; /* Start at the bottom */
  left: -74%; /* Center the arrow horizontally */
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-radius: 2px;
  transition: bottom 0.3s ease; /* Smooth transition if percentage changes for any reason */
  transform: rotate(90deg);
}

/* Generalized Gamification Edge cases */
/* Native */
.generalized-result { 
  transform: translateX(var(--offset-px));
  background-color: #f4fafdee; padding: 12px; border-radius: 18px; 
  color: rgb(51, 51, 51); text-align: center;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  width: 220px;
  max-width: 220px;
  min-width: 220px;
  left: 50px;
  pointer-events: none;
  z-index: 10;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.055), inset -1px -1px 1px rgba(255, 255, 255, 0.9);
}

.generalized-result::after {
  content: '';
  position: absolute;
  top: 50%; /* Center the arrow vertically */
  left: -20px; /* Position the arrow outside the box */
  transform: translateY(-50%) rotate(90deg); /* Adjust for centering */
  border-width: 11px; /* Arrow size */
  border-style: solid;
  border-color: #f3ffffe0 transparent transparent transparent; /* Arrow color */
}

.is-top .generalized-result {transform: translateY(var(--offset-px)); position: relative; left: 0px; top: 15px;}
.is-top .generalized-result::after {
  content: '';
  position: absolute;
  transform: translateY(-50%) rotate(360deg); /* Rotate to point upwards */
  border-width: 11px; /* Arrow size */
  border-style: solid;
  border-color: transparent transparent #04edede0 transparent; /* Arrow color for upward */
}

