/* Global */
/* Smooth Fade-In for homepage */

canvas {
  touch-action: none !important;
}

a { text-decoration: none; }
html, body {
  height: 100%; margin: 0; padding: 0; display: flex; flex-direction: column; overflow: hidden;
  background: radial-gradient(circle, rgba(215,215,215,0.8) 40%, rgba(205,205,205,0.6) 60%, rgba(197,197,197,0.3) 80%, transparent 100%), #8bbad2;
  background-blend-mode: overlay;
  overscroll-behavior: none;
  touch-action: none;
}
button { padding-inline: 0; padding-block: 0; }

/* Mobile */
@media screen and (max-width: 767px) {
  h1, h2, h3, h4, p { font-family: Heebo, sans-serif; padding: 0; margin: 0; }
  h1 { font-size: clamp(5.6vw, 5.8vw, 6vw); line-height: 1.224em; font-weight: 500; letter-spacing: -0.2px; }
  h1.begin-title2 { white-space: nowrap; }
  h2 { font-size: clamp(4.6vw, 4.8vw, 5vw); font-weight: 600; line-height: 1.2em; letter-spacing: 0.2px;}
  h3 { font-size: clamp(4vw, 4.2vw, 4.4vw); font-weight: 200; line-height: 1em; }
  h4, p { font-family: Poppins, sans-serif; }
  h4 { font-size: clamp(3.4vw, 3.6vw, 3.8vw); font-weight: 500; letter-spacing: 0.12px; line-height: 1.23em;}
  p { font-size: clamp(3vw, 3.2vw, 3.4vw); font-weight: 400; letter-spacing: -0.166px;}
  .bar-graph-label p { font-weight: 600; line-height: 1.2em; font-size: clamp(2.5vw, 2.7vw, 2.9vw);}

  .radial-background, .radial-gradient { position: absolute; bottom: 0; width: 100%; height: 100%; pointer-events: none; z-index: 1; }
  .radial-gradient { background: radial-gradient(circle at center bottom, rgb(238,239,240) 0%, rgba(243,243,243,0.75) 40%, rgba(0,0,0,0) 60%); }

  .logo-container {
    position: absolute; width: 3.1em; height: 3.1em; margin: 16px 0 0 4%;
    display: flex; justify-content: center; align-items: center; z-index: 15;
  }
  .logo-divider, .logo-image { pointer-events: none; user-select: none; }
  .logo-image { position: absolute; max-width: 100%; max-height: 100%; object-fit: contain; }
  .percentage-indicator p { font-size: clamp(2.7vw, 2.9vw, 3.1vw) }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  h1, h2, h3, h4, p { font-family: Heebo, sans-serif; padding: 0; margin: 0; }
  h1 { font-size: clamp(4.4vw, 4.6vw, 4.8vw); line-height: 1.224em; font-weight: 500; letter-spacing: -0.2px; }
  h1.begin-title2 { white-space: nowrap; }
  h2 { font-size: clamp(3.8vw, 4vw, 4.2vw); font-weight: 600; line-height: 1.2em; letter-spacing: 0.2px;}
  h3 { font-size: clamp(3.4vw, 3.6vw, 3.8vw); font-weight: 200; line-height: 1em; }
  h4, p { font-family: Poppins, sans-serif; }
  h4 { font-size: clamp(1.8vw, 2vw, 2.2vw); font-weight: 500; letter-spacing: 0.12px; line-height: 1.23em;}
  p { font-size: clamp(1.6vw, 1.8vw, 2vw); font-weight: 400; letter-spacing: -0.166px;}
  .bar-graph-label p { font-weight: 600; line-height: 1.2em; font-size: clamp(1.6vw, 1.8vw, 2vw);}

  .radial-background, .radial-gradient { position: absolute; bottom: 0; width: 100%; height: 100%; pointer-events: none; z-index: 1; }
  .radial-gradient { background: radial-gradient(circle at center bottom, rgb(238,239,240) 0%, rgba(243,243,243,0.75) 40%, rgba(0,0,0,0) 60%); }

  .logo-container {
    position: absolute; width: 3.1em; height: 3.1em; margin: 16px 0 0 4%;
    display: flex; justify-content: center; align-items: center; z-index: 15;
  }
  .logo-divider, .logo-image { pointer-events: none; user-select: none; }
  .logo-image { position: absolute; max-width: 100%; max-height: 100%; object-fit: contain; }
  .percentage-indicator p { font-size: clamp(1.6vw, 1.8vw, 2vw)}
}

/* Desktop */
@media screen and (min-width: 1025px) {
  h1, h2, h3, h4, p { font-family: Heebo, sans-serif; padding: 0; margin: 0; }
  h1 { font-size: 1.8vw; line-height: 1.204em; font-weight: 500; letter-spacing: -0.23px; }
  h2 { font-size: 1.6vw; font-weight: 500; line-height: 1.2em; }
  .number-part h2 { line-height: 1.6em; }
  h3 { font-size: 1.22vw; font-weight: 200; }
  h4, p { font-family: Poppins, sans-serif; }
  h4 { font-size: 1.05vw; font-weight: 500; letter-spacing: -0.2px; line-height: 1.2em; }
  p { font-size: 0.95vw; font-weight: 400; }
  .bar-graph-label p { font-weight: 600; line-height: 1.2em; font-size: 0.9vw; }

  .radial-background, .radial-gradient { position: absolute; bottom: 0; width: 100%; height: 100%; pointer-events: none; z-index: 1; }
  .radial-gradient { background: radial-gradient(circle at center bottom, rgb(238,239,240) 0%, rgba(243,243,243,0.75) 40%, rgba(0,0,0,0) 60%); }

  .logo-container {
    position: absolute; width: 46px; height: 46px; margin: 24px 0 0 32px;
    display: flex; justify-content: center; align-items: center; z-index: 15;
  }
  .logo-divider, .logo-image { pointer-events: none; user-select: none; }
  .logo-image { position: absolute; max-width: 100%; max-height: 100%; object-fit: contain; }
}
