/* Graph Styles */
.graph-wrapper {z-index: 2; position: relative;}
.graph-wrapper.visible {display: block;} /* Show when visible */
.graph-wrapper.hidden {display: none;} /* Hide when toggled off */
