/* Survey Questions Styles */

/* Global */ 
.fade-out {animation: fadeOut 0.1s ease-in forwards;}
.fade-in {animation: fadeIn 0.1s ease-in forwards;}
@keyframes fadeOut {from {opacity: 1;} to {opacity: 0;}}
@keyframes fadeIn {from {opacity: 0;} to {opacity: 1;}}

/* Mobile */
@media (max-width: 767px) {
/* Main survey component */
.survey-section-wrapper, .survey-section-wrapper3 {z-index: 6; user-select: none; pointer-events: none; display: flex; justify-content: center; align-items: center; width: 100%; position: absolute; bottom: 15px;}
.survey-section, .survey-section-2 { width: 100%; display: flex; justify-content: center; align-content: flex-end; flex-wrap: wrap;}

/* Onboarding Beginning */
.begin-title1 {font-weight: 400; padding-bottom: 0.4em;} .begin-title2 {padding-bottom: 0.5em;}
button.begin-button, button.begin-button2, button.begin-button3 {color: #fff; background-color: #292929; padding: 1em 0; border-radius: 6px; cursor: pointer; border: none; margin-bottom: 1.4em; z-index: 10; pointer-events: all;}
button.begin-button2 {margin-top: 1em; } button.begin-button2, button.begin-button, button.begin-button3 {width: 50%;}
button.begin-button3 {margin-top: 1.2em; width: 40% !important; margin-bottom: 15.15em !important;}
button.begin-button, button.begin-button3 {box-shadow: 0 8px 20px #ecfcff;}  button.begin-button {width: 45%;} button.begin-button3 {width: 100%;}
button.begin-button:hover {transform: scale(1); transition: transform 0.3s ease, box-shadow 0.3s ease; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);}
button.begin-button2:hover, button.begin-button3:hover {background-color: #353b41; transition: background-color 0.2s ease-in-out;}
.surveyStart {display: flex; flex-direction: column; width: 92%; flex-wrap: wrap; align-content: center; text-align: center;}
.questionnaire  {display: flex; flex-direction: column; width: 92%; flex-wrap: nowrap;}
.question-section {display: flex; justify-content: flex-start; align-items: center; position: relative;}
.input-part-inside {pointer-events: all;} .question-part h4 {margin-left: 6vw; padding-bottom: 0.65em;}
.number-part {position: relative; top: -5px; left: 4px;}
.error-container {background-color: rgb(246, 246, 246); padding: 1em 2.4em; border-radius: 12px;
backdrop-filter: blur(6px); margin-bottom: 24px;
-webkit-backdrop-filter: blur(6px);}
.error-container h2 {color: rgb(241, 84, 60);}
.email-tag {pointer-events: all;}


/* Label */ 
label {font-size: 16px; color: #333; cursor: pointer; padding: 5px 8px 5px 8px;}
label p:hover {color: #000000; transition: 0.1s ease-in;}
label:hover {background-color: rgba(128, 128, 128, 0.05); padding: 5px 8px 5px 8px; border-radius: 4px;}

/* Radio Button */
.lottie-option {display: inline-flex; cursor: pointer;}
.lottie-option.selected {transform: scale(1.1); transition: transform 0.2s ease-in-out;}
.input-part-inside {display: flex; align-items: center; gap: 6px; user-select: text;}
.radio-button {cursor: pointer; height: 1.8em; width: 1.8em; min-width: 1.8em; min-height: 1.8em; -webkit-tap-highlight-color: transparent; outline: none; webkit-tap-highlight-color: transparent;}


/* Special Cases */ 
/* Special case for three/drei DOM environment context integration for z-index */
.z-index-respective .survey-section-wrapper, .z-index-respective .survey-section-wrapper2 { pointer-events: none; display: flex; justify-content: flex-start; align-items: center; width: 100vw; position: relative; left: -23vw;}
.z-index-respective .survey-section-wrapper .survey-section, .z-index-respective .survey-section-wrapper2 .survey-section {pointer-events: none; display: flex; justify-content: center; align-content: flex-start; flex-wrap: wrap;}
.z-index-respective .survey-section-wrapper .survey-section .surveyStart .begin-button3, .z-index-respective .survey-section-wrapper2 .survey-section .surveyStart .begin-button4 {pointer-events: all;}

/* Overlay component */ 
.survey-section-wrapper2 {z-index: 6; pointer-events: none; display: flex; justify-content: center; align-items: center; width: 100%; position: absolute; bottom: 0px;}
.begin-button4 {margin-top: 1.2em; width: 40%; margin-bottom: 15.15em !important; color: #ffffff00; background-color: #29292900; padding: 1.1em 0; border-radius: 6px; cursor: pointer; border: none; margin-bottom: 2.4em; z-index: 10; pointer-events: all;}
.begin-button4:hover {background-color: rgba(128, 128, 128, 0.114); transition: 0.2s ease-in; border-radius: 6px;}
.survey-section-wrapper3.complete-active {height: 100%;}
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
/* Main survey component */
.survey-section-wrapper, .survey-section-wrapper3 {z-index: 6; user-select: none; pointer-events: none; display: flex; justify-content: center; align-items: center; width: 100%; position: absolute;}
.survey-section-wrapper {bottom: 2px;} .survey-section-wrapper3 {bottom: 20px;} .survey-section-wrapper3 {bottom: 0px !important;}
.survey-section, .survey-section-2 {min-width: 100%; max-width: 100%; min-height: 26vh; max-height: 26vh; display: flex; justify-content: flex-start; align-content: flex-end; flex-wrap: wrap; position: relative;}
.survey-section-2 {padding-bottom: 5%;}

/* Onboarding Beginning */
.begin-title1 {font-weight: 400; margin-bottom: -12px;}
.begin-title2 {padding: 0.3em;}
button.begin-button {width: 14em;}
button.begin-button, button.begin-button2, button.begin-button3 {color: #fff; background-color: #292929; padding: 1em 0; border-radius: 6px; cursor: pointer; border: none; margin-bottom: 6.2em; z-index: 10; pointer-events: all;}
button.begin-button2 {margin-top: 1.4em; width: 14em;} button.begin-button2 {padding-top: 1.1em; padding-bottom: 1.1em;}
button.begin-button3 {margin-bottom: 0em !important;}
button.begin-button, button.begin-button3 {box-shadow: 0 8px 20px #ecfcff; padding-top: 1.1em; padding-bottom: 1.1em;} 
button.begin-button:hover {transform: scale(1.1); transition: transform 0.3s ease, box-shadow 0.3s ease; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);}
button.begin-button2:hover, button.begin-button3:hover {background-color: #353b41; transition: background-color 0.2s ease-in-out;}
.surveyStart, .questionnaire {display: flex; flex-direction: column; width: 100%;}
.surveyStart {text-align: center; align-items: center;}
.questionnaire {justify-content: flex-end; padding-left: 4%;}
.question-section {display: flex; padding-bottom: 0.25em;} .question-part h4 {margin-left: 12px;}
.question-part {position: relative; top: 8px; left: 5px;}
.input-part-inside {pointer-events: all;}
.number-part {position: relative; top: -3px; left: 3px;}
.error-container {background-color: rgb(246, 246, 246); padding: 1.2em 2em; margin-bottom: 1.2em; border-radius: 12px;
backdrop-filter: blur(6px);
-webkit-backdrop-filter: blur(6px);}
.error-container h2 {color: rgb(241, 84, 60);}
.email-tag {pointer-events: all;}
.begin-title1 {padding-bottom: 0.3em;}
.begin-title2 {padding-bottom: 0.4em;}

/* Label */ 
label {font-size: 16px; color: #333; cursor: pointer; padding: 4px 8px 4px 8px; white-space: nowrap;}
label p:hover {color: #000000; transition: 0.1s ease-in;}
label:hover {background-color: rgba(128, 128, 128, 0.05); padding: 4px 8px 4px 8px; border-radius: 4px;}

/* Radio Button */
.lottie-option {display: inline-flex; cursor: pointer;}
.lottie-option.selected {transform: scale(1.1); transition: transform 0.2s ease-in-out;}
.input-part-inside {display: flex; align-items: center; gap: 6px; user-select: text;}
.radio-button {cursor: pointer; height: 2em; width: 2em; min-height: 2em; min-width: 2em; outline: none;}

/* Special Cases */ 
/* Special case for three/drei DOM environment context integration for z-index */
.z-index-respective .survey-section-wrapper, .z-index-respective .survey-section-wrapper2 {pointer-events: none; display: flex; justify-content: flex-start; align-items: center; width: 100vw; position: relative; left: -16.5vw;}
.z-index-respective .survey-section-wrapper .survey-section, .z-index-respective .survey-section-wrapper2 .survey-section {position: relative; pointer-events: none; display: flex; justify-content: center; align-content: flex-start; flex-wrap: wrap;  bottom: var(--dynamic-margin);}
.z-index-respective .survey-section-wrapper .survey-section .surveyStart .begin-button3, .z-index-respective .survey-section-wrapper2 .survey-section .surveyStart .begin-button4 {width: 14em; pointer-events: all;}

/* Overlay component */ 
.survey-section-wrapper2 {z-index: 6; pointer-events: none; display: flex; justify-content: center; align-items: center; width: 100%; position: absolute; bottom: 2px;}
.begin-button4 {width: 50%; margin-bottom: 0em !important; color: #ffffff00; background-color: #29292900; padding: 1em 0; border-radius: 6px; cursor: pointer; border: none; margin-bottom: 2.4em; z-index: 10; pointer-events: all;}
.begin-button4:hover {background-color: rgba(128, 128, 128, 0.114); transition: 0.2s ease-in;}
.survey-section-wrapper3.complete-active {height: 100%;}
}

/* Desktop */
@media (min-width: 1025px) {
/* Main survey component */
.survey-section-wrapper, .survey-section-wrapper3 {z-index: 6; user-select: none; pointer-events: none; display: flex; justify-content: center; align-items: center; width: 100%; position: absolute;}
.survey-section-wrapper {bottom: -20px;}
.survey-section, .survey-section-2 {min-width: 30%; max-width: 30%; min-height: 26vh; max-height: 26vh; display: flex; justify-content: flex-start; align-content: flex-end; flex-wrap: wrap; position: relative;}
.survey-section-2 {padding-bottom: 5%;}

/* Onboarding Beginning */
.begin-title1 {font-weight: 400; margin-bottom: -12px;}
.begin-title2 {padding: 0.3em;}
button.begin-button {width: 14vw;}
button.begin-button, button.begin-button2, button.begin-button3 {color: #fff; background-color: #292929; padding: 1em 0; border-radius: 6px; cursor: pointer; border: none; margin-bottom: 2.4em; z-index: 10; pointer-events: all;}
button.begin-button2 {margin-top: 1.4em; width: 21vw;} button.begin-button2 {padding-top: 1.1em; padding-bottom: 1.1em;}
button.begin-button3 {margin-bottom: 0em !important;}
button.begin-button, button.begin-button3 {box-shadow: 0 8px 20px #ecfcff; padding-top: 1.1em; padding-bottom: 1.1em;} 
button.begin-button:hover {transform: scale(1.1); transition: transform 0.3s ease, box-shadow 0.3s ease; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);}
button.begin-button2:hover, button.begin-button3:hover {background-color: #353b41; transition: background-color 0.2s ease-in-out;}
.surveyStart, .questionnaire {display: flex; flex-direction: column; width: 100%;}
.surveyStart {text-align: center; align-items: center;}
.questionnaire {justify-content: flex-end; margin-left: 4.5vw;}
.question-part {position: relative; top: 8px; left: 5px;}
.input-part-inside {pointer-events: all;}
.error-container {margin-left: 4.5vw; background-color: rgb(246, 246, 246); padding: 1.2em 2em; margin-bottom: 1.2em; border-radius: 12px;
backdrop-filter: blur(6px);
-webkit-backdrop-filter: blur(6px);}
.error-container h2 {color: rgb(241, 84, 60);}
.email-tag {pointer-events: all;}
.begin-title1 {padding-bottom: 0.3em;}
.begin-title2 {padding-bottom: 0.6em;}

/* Label */ 
label {font-size: 16px; color: #333; cursor: pointer; padding: 4px 8px 4px 8px; white-space: nowrap;}
label p:hover {color: #000000; transition: 0.1s ease-in;}
label:hover {background-color: rgba(128, 128, 128, 0.05); padding: 4px 8px 4px 8px; border-radius: 4px;}

/* Radio Button */
.lottie-option {display: inline-flex; cursor: pointer;}
.lottie-option.selected {transform: scale(1.1); transition: transform 0.2s ease-in-out;}
.input-part-inside {display: flex; align-items: center; gap: 6px; user-select: text;}

/* Special Cases */ 
/* Special case for three/drei DOM environment context integration for z-index */
.z-index-respective .survey-section-wrapper, .z-index-respective .survey-section-wrapper2 {pointer-events: none; display: flex; justify-content: flex-start; align-items: center; width: 100vw; position: relative; left: -14.5vw;}
.z-index-respective .survey-section-wrapper .survey-section, .z-index-respective .survey-section-wrapper2 .survey-section {position: relative; pointer-events: none; display: flex; justify-content: center; align-content: flex-start; flex-wrap: wrap;  bottom: var(--dynamic-margin);}
.z-index-respective .survey-section-wrapper .survey-section .surveyStart .begin-button3, .z-index-respective .survey-section-wrapper2 .survey-section .surveyStart .begin-button4 {width: 50%; pointer-events: all;}

/* Overlay component */ 
.survey-section-wrapper2 {z-index: 6; pointer-events: none; display: flex; justify-content: center; align-items: center; width: 100%; position: absolute; bottom: 2px;}
.begin-button4 {width: 50%; margin-bottom: 0em !important; color: #ffffff00; background-color: #29292900; padding: 1em 0; border-radius: 6px; cursor: pointer; border: none; margin-bottom: 2.4em; z-index: 10; pointer-events: all;}
.begin-button4:hover {background-color: rgba(128, 128, 128, 0.114); transition: 0.2s ease-in;}
.survey-section-wrapper3.complete-active {height: 100%;}
}

@media (min-width: 1025px) and (max-width: 1320px) {
.question-section {display: flex; padding-bottom: 0.35em;} .question-part h4 {margin-left: 18px;}
.radio-button {cursor: pointer; height: 1.6em; width: 1.6em; min-height: 1.6em; min-width: 1.6em; outline: none;  webkit-tap-highlight-color: transparent;}
.survey-section-wrapper3 {bottom: 25px !important;}
.number-part {position: relative; top: -1px; left: 6.5px;}
button.begin-button3 {bottom: 45px !important; position: relative;}
}

@media screen and (min-width: 1320px) { 
.question-section {display: flex; padding-bottom: 0.25em;} .question-part h4 {margin-left: 8px;}
.radio-button {cursor: pointer; height: 2em; width: 2em; min-height: 2em; min-width: 2em; outline: none;  webkit-tap-highlight-color: transparent;}
.survey-section-wrapper3 {bottom: 0px !important;}
.number-part {position: relative; top: -3px; left: 3px;}
button.begin-button3 {bottom: 0px !important; position: relative;}
}