/* Survey Questions Styles */
.survey-section-wrapper {z-index: 3; display: flex; justify-content: center; align-items: center; width: 100%; position: absolute; bottom: 35px;}
.survey-section, .survey-section-2 {min-width: 30%; max-width: 30%; min-height: 26vh; max-height: 26vh; display: flex; justify-content: center; align-content: flex-end; flex-wrap: wrap;}
.survey-section-2 {padding-bottom: 5%;}

/* Onboarding Beginning */
.begin-title1 {font-weight: 400; margin-bottom: -12px;}
.begin-title2 {padding: 0 3.6vh;}
button.begin-button, button.begin-button2 {color: #fff; background-color: #292929; padding: 1vh 0; border-radius: 6px; cursor: pointer; border: none; margin-bottom: 2.4em;}
button.begin-button2 {margin-top: 1em; width: calc(100% - 4.8vh);}
button.begin-button:hover {transform: scale(1.1); transition: transform 0.3s ease, box-shadow 0.3s ease; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);}
button.begin-button2:hover {background-color: #495158; transition: background-color 0.2s ease-in-out;}
.surveyStart, .questionnaire {display: flex; flex-direction: column; margin-top: 6%; width: 100%; padding: 0 4.8vh;}
.surveyStart {text-align: center;}
.questionnaire {justify-content: flex-end;}
.question-section {display: flex; padding-bottom: 0.4em;}
.number-part {margin-top: -6px;}
.fade-out {animation: fadeOut 0.2s ease-in forwards;}
.fade-in {animation: fadeIn 0.2s ease-in forwards;}
@keyframes fadeOut {from {opacity: 1;} to {opacity: 0;}}
@keyframes fadeIn {from {opacity: 0;} to {opacity: 1;}}

/* Radio Button */
.lottie-option {display: inline-flex; cursor: pointer;}
.lottie-option.selected {transform: scale(1.1); transition: transform 0.2s ease-in-out;}
.input-part-inside {display: flex; align-items: center; gap: 10px;}
label {font-size: 16px; color: #333; cursor: pointer;}
